.header {
    height: 80vh;
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    align-items: center;
}

.header .word-art {
    width: 100%;
}

.header .intro {
    width: 80%;
    text-align: justify;
}

.header .intro-title {
    font-size: 35px;
    margin-bottom: 0;
}

.header .intro-subtitle {
    font-size: 15px;
    margin-top: 0;
    padding-left: 3px;
}

.header .intro-text {
    margin-top: 0;
    padding-left: 3px;
}

@media only screen and (max-width: 900px) {
    .header {
        height: auto;
        margin-top: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        height: auto;
        grid-template-columns: 30% 70%;
        margin-top: 200px;
        padding: 10px;
    }

    .header .intro {
        width: 95%;
    }
}